<md-tabs> <md-tab ng-click="navigateTo('bindings')"
	label="Bindings" md-active="currentTab === 'bindings'"></md-tab> <md-tab
	ng-click="navigateTo('groups')" label="Groups"
	md-active="currentTab === 'groups'"></md-tab> <md-tab
	ng-click="navigateTo('things')" label="Things"
	md-active="currentTab === 'things'"></md-tab></md-tabs>
<section id="main">
	<div class="bindings tab-panel" ng-if="currentTab === 'bindings'">
		<div class="header-toolbar">
			<md-button class="md-icon-refresh" ng-click="refresh()"></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<h1>Installed Bindings</h1>
				<p>Lists all installed bindings</p>
				<div class="toolbar">
					<md-button class="md-fab md-icon-download"
						ng-click="installBinding()"></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-controller="BindingController" class="bindings row">
				<div class="col-md-4 col-sm-6 col-xs-12 item-wrapper"
					ng-repeat="binding in data.bindings">
					<div class="card binding text-left"
						data-binding-id="{{binding.id}}">
						<div class="clabel">
							<h3>
								{{binding.name}} <small>{{binding.id}}</small>
							</h3>
							<p class="text-left">{{binding.author}}</p>
							<div class="text-right">
								<md-button ng-click="openBindingInfoDialog(binding.id, $event)">More</md-button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="things white-bg" ng-if="currentTab === 'things' && !action"
		ng-controller="ThingController">
		<div class="header-toolbar">
			<md-button class="md-icon-refresh" ng-click="refresh()"></md-button>
		</div>
		<div class="section-header">
			<div class="container">
				<h1>Configured Things</h1>
				<p>List all configured things</p>
				<div class="toolbar">
					<md-button class="md-fab md-icon-add"
						ng-click="navigateFromRoot('inbox')"></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="things">
				<div class="clickable"
					ng-repeat="thing in data.things | filter:search">
					<div class="thing fab-item text-left"
						data-thing-uid="{{thing.UID}}"
						ng-click="navigateTo('things/view/' + thing.UID)">
						<div class="circle">{{thing.UID.split(':')[1].substring(0,1).toUpperCase()}}</div>
						<div class="cbody item-content">
							<h3>
								{{thing.item.label}} <small>{{thing.status}}</small>
							</h3>
							<p>{{getThingType(thing.UID).label}}</p>
							<p>{{thing.UID}}</p>
						</div>
						<hr class="border-line" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thing-view white-bg"
		ng-if="currentTab === 'things' && action === 'view'"
		ng-controller="ViewThingController">
		<div class="section-header">
			<div class="container">
				<h1>{{thing.item.label}}</h1>
				<p>
					{{thingType.label}} <small>{{thing.UID}}</small>
				</p>
				<div class="toolbar">
					<md-button class="md-fab md-icon-arrow-back"
						ng-click="navigateTo('things')"></md-button>
				</div>
			</div>
		</div>
		<div class="container">
			<p>
				<md-button class="md-raised" ng-click="edit(thing, $event)"> <span class="md-icon-edit"></span>Edit</md-button>
				<md-button class="md-raised"> <span
					class="md-icon-settings"></span>Configuration</md-button>
				<md-button class="md-raised" ng-click="remove(thing, $event)">
				<span class="md-icon-delete"></span>Remove</md-button>
			</p>
			<p>{{thingType.description}}</p>
			<h2>Channels</h2>
			<div class="channels">
				<div class="channel fab-item" ng-repeat="channel in thing.channels">
					<paper-fab ng-if="!channel.boundItem" icon="add"
						ng-click="link(thing.UID, channel.id)"></paper-fab>
					<div class="circle icon-link clickable" ng-if="channel.boundItem"
						ng-click="navigateTo('items/view/' + channel.boundItem)"
						icon="add"></div>
					<div class="item-content">
						<h3>
							{{getChannelById(channel.id).label}} <small>{{channel.id}}</small>
						</h3>
						<p>{{channel.itemType}}</p>
						<p>{{getChannelById(channel.id).description}}</p>
					</div>
					<hr class="border-line" />
				</div>
			</div>
		</div>
	</div>
</section>