<md-tabs md-selected="selectedTabIndex"> <md-tab ng-repeat="tab in tabs" label="{{tab}}"/></md-tabs>

<section id="main" class="container control tabpanel-container">
	<div ng-controller="ControlController" role="tabpanel"
		class="tabpanel items row" md-swipe-left="next()"
		md-swipe-right="prev()">
		<div class="col-md-4 col-sm-6 col-xs-12 item-wrapper"
			ng-repeat="item in items[tabs[selectedTabIndex]]">
			<div class="card item {{item.type}}" data-item-name="{{item.name}}">
				<div class="ibadge">
					<span class="icon-x">
				</div>
				<div class="clabel">
					<h3>{{item.label}}</h3>
				</div>
				<div class="" ng-repeat="member in item.members">
					<div ng-switch on="member.type" class="icontrol cbody">
						<div ng-switch-when="SwitchItem"
							ng-controller="SwitchItemController">
							<md-radio-group ng-model="member.state"
								ng-change="toggle(item.state)"> <md-radio-button
								value="ON">ON</md-radio-button> <md-radio-button value="OFF">OFF</md-radio-button>
							</md-radio-group>
						</div>
						<div ng-switch-when="DimmerItem"
							ng-controller="DimmerItemController">
							<h1>{{item.state}}%</h1>
							<md-radio-group ng-model="on" ng-change="setOn(on)">
							<md-radio-button value="ON">ON</md-radio-button> <md-radio-button
								value="OFF">OFF</md-radio-button> </md-radio-group>
							<md-slider flex min="0" max="100" ng-model="member.state"
								ng-change="setBrightness(item.state)" />
						</div>
						<div ng-switch-when="ColorItem"
							ng-controller="ColorItemController">

							<md-radio-group ng-model="on" ng-change="setOn(on)">

							<md-radio-button value="ON">ON</md-radio-button> <md-radio-button
								value="OFF">OFF</md-radio-button> </md-radio-group>

							<md-slider min="0" max="100" ng-model="brightness"
								ng-change="setBrightness(brightness)"></md-slider>

							<md-slider class="hue" flex min="0" max="360" ng-model="hue"
								ng-change="setHue(hue)"></md-slider>
						</div>
						<div ng-switch-when="GroupItem">
							<md-button class="md-raised" ng-click="navigateTo(item.name)">Show
							Group</md-button>
						</div>
						<div ng-switch-default ng-controller="DefaultItemController">
							<h1 class="state" contenteditable="true" editableitemstate>{{getStateText(member)}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>